*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* header */
/* header{
    width: 100%;
    background-color: #785FEE;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
}
header div{
    margin: 0 auto;
}
header h2{
    font-size: 30px;        
} */
/* termino do header */
/* main */
/* .cadastro{
    width: 100%;
    margin-top: 30px;
}
.cadastro div h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
#text h2{
    font-size: 30px;
    padding:10px 0px 0px 20px;
    color: white;
}
#text span{
    color: rgb(81, 208, 81);
}
.anotacoes{
    max-width: 90%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
}
.anotacoes input[type=text]{
    flex: 1;
    height: 40px;
}
.anotacoes button{
    width: 80px;
    background-color: rgb(65, 174, 65);
    border: none;
    cursor: pointer;
    border-radius: 5px;
} */
/* final do main */
/* 
    inicio da estilização da tabble
*/
/* table{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(248, 248, 248);
    box-shadow: 1px 1px 4px rgb(83, 83, 83);
}
thead tr th{
    color: black;
    font-size: 20px;
    background-color: rgb(206, 249, 206);
    height: 2.5rem;
    width: calc(100%/4);
}
tbody tr td{
    color: black;
    padding: 5px;
    font-size: 1.2rem;
    word-break: break-all;
}
.editar{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(108, 190, 108);
    color: white;
    cursor: pointer;
    font-size: 15px;
}
.apagar{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(242, 62, 62);
    color: white;
    cursor: pointer;
    font-size: 15px;
}
*/
#sairr{
    position: fixed;
    right: 0;
    height: 30px;
    width: 50px;
    color: red;
    background-color: rgb(206, 249, 206);
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}
#salvar{
    border-radius: 5px;
    width: 150px;
    height: 30px;
    background-color: #b7a9f8;
    font-weight: bold;
}
.my-5{
    font-size: 25px;
}
i{
    cursor: pointer;
}
@media (max-width: 767px) {
    li{
        text-align: center;
    }
    .wrap{
        justify-content: center;
    }
    .margin{
        margin-bottom: 20px;
    }
}