*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #785FEE;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.imagem{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log{
    width: 300px;
    height: 200px;
    margin-top: 20%;
}
.imagem div{
    color: white;
    width: 70%;
    margin-top: 30px;
}
.imagem p{
    font-size: 30px;
    margin-top: 40px;
}
.imagem h2{
    font-size: 50px;
}
.login{
    width: 50%;
    display: flex;
    align-items: center;
    background-color: white;
}
.formulario{
    width: 500px;
    margin: 0 auto;
}
.lc{
    display: flex;
    gap: 40px;
    margin: 40px 0;
    font-weight: bold;
    cursor: pointer;
}
.lc a{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}
a:visited{
    color: black;
}
.entrar{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inputBox{
    position: relative;
    margin-top: 5%;
}
.inputBox input{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: none;
    font-size: 20px;
    width: 100%;
    outline: none;
    letter-spacing: 1px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputBox label{
    font-size: 15px;
}
.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 14px;
    color: #785FEE;
}
input[type=submit]{
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    height: 40px;
    background-color: #b2a5f3;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #785FEE;
}