/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #785FEE;
}
.cor{
    background-color: #785FEE;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.imagem{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #785FEE;
}
.log{
    width: 300px;
    height: 200px;
    margin-top: 20%;
}
.imagem div{
    color: white;
    width: 70%;
    margin-top: 30px;
}
.imagem p{
    font-size: 30px;
    margin-top: 40px;
}
.imagem h2{
    font-size: 50px;
}
.login{
    width: 50%;
    display: flex;
    align-items: center;
    background-color: white;
}
.formulario{
    width: 500px;
    margin: 0 auto;
}
.lc{
    display: flex;
    gap: 40px;
    margin: 40px 0;
    font-weight: bold;
    cursor: pointer;
}
.lc a{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}
a:visited{
    color: black;
}
.entrar{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.entrar input{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: none;
    padding: 15px 0;
    font-size: 15px;
    width: 100%;
    margin-top: 20px;
    outline: none;
}
form input[type=submit]{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: rgb(65, 174, 65);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
} */
.divider:after, .divider::before{
    content: "";
    flex: 1;
    height: 1px;
    background: #c3c3c3;
}
.icones button{
    border-radius: 50%;
}
.icones i{
    font-size: 20px;
}
/* pagina cadastro*/

@keyframes entrar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
.login3{

    animation: entrar 3s linear infinite
}